<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/css/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<% include react %>
<% include socket %>
<% include light-request %>

<div id="hello-message"></div>
<div id="app-main"></div>
<div id="socket-news"></div>
<div id="users-div"></div>
<div id="user-div"></div>
<div id="timer"></div>

<script>
console.log(location.href);
const socket = io.connect(location.href);
</script>

<script type="text/babel" src="/jsx/hello-message.js"></script>

<script type="text/babel">
console.log('render <HelloMessage>');
const helloMessage = ReactDOM.render(<HelloMessage name="React" />,
	document.getElementById('hello-message'));
window.helloMessage = helloMessage;
</script>

<hr/>

<script type="text/babel" src="/jsx/socket-news.js"></script>
<script type="text/babel">
console.log('render <SocketNews>');
ReactDOM.render(<SocketNews socket={socket}/>,
	document.getElementById('socket-news'));
</script>

<script type="text/babel" src="/jsx/user.js"></script>
<script type="text/babel" src="/jsx/users.js"></script>

<script type="text/babel">
//console.log('request /users');
//request.get(location.href + 'users', undefined, {headers: {'x-get-data': true}})
//.then(res => console.log('request /users res:', res));
</script>

<hr/>

<script type="text/babel">
console.log('render <Users>');
ReactDOM.render(<Users />,
	document.getElementById('users-div'));
</script>

<hr/>

<script type="text/babel" src="/jsx/timer.js"></script>
<script type="text/babel">
console.log('render <Timer>');
ReactDOM.render(<Timer update={helloMessage} />,
	document.getElementById('timer'));
</script>

</body>
</html>
