<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/css/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<% include react %>
<% include socket %>
<% include ajax %>

<div id="hello-message"></div>
<div id="app-main"></div>

<script type="text/babel">

// <HelloMessage name={name}/>
const HelloMessage = React.createClass({
	getInitialState() {
		//this.ctx = this.props.ctx || {};
		//this.ctx.hello = this;
		return {};
	},
	render() {
		return <h1>Hello, {this.state.name || this.props.name}!</h1>;
	}
});

// <Timer interval={1000} />
const Timer = React.createClass({
	getInitialState() {
		this.interval = this.props.interval || 1000;
		return {counter: 0};
	},
	tick() {
		this.setState({counter: this.state.counter + 1});
		helloMessage.setState({name: 'React ' + this.state.counter});
	},
	componentDidMount() {
		this.timer = setInterval(this.tick, this.interval);
	},
	componentWillUnmount() {
		clearInterval(this.timer);
	},
	render() {
		return <div>Count: {this.state.counter}</div>;
	}
});

// <SocketNews/>
const SocketNews = React.createClass({
	getInitialState() {
		return {list: []};
	},
	news (data) {
		this.state.list.push(data);
		this.setState({list: this.state.list});
		this.socket.emit('my other event', {my: 'data'});
	},
	componentDidMount() {
		console.log(location.href);
		this.socket = io.connect(location.href)
			.on('news', this.news);
	},
	componentWillUnmount() {
		this.socket.close();
		this.soclet = null;
	},
	render() {
		return <div>
				{this.state.list
					.map(JSON.stringify)
					.map(x => <p>{x}</p>)}
			</div>;
	}
});

// <AppMain/>
const AppMain = React.createClass({
	render() {
		return <div>{this.props.children}</div>;
	}
});

var helloMessage = ReactDOM.render(<HelloMessage name="React" />,
	document.getElementById('hello-message'));

var appMain = ReactDOM.render(
	<AppMain>
		<Timer interval={1000} />
		<SocketNews/>
	</AppMain>,
	document.getElementById('app-main'));

console.log(appMain);

</script>

</body>
</html>
